// CH units can be pretty useful for typographic layouts
// One CH represents the width a '0' in the current font.

// Lazy reset
* {
	padding: 0;
	margin: 0;
}
* > * {
	margin-bottom: 0.5em;
}

html {
	line-height: 1.3;
	font-family: 'Jura', sans-serif;
	background: #222;
	color: #aaa;
	margin: 0;
	max-width: 95rem;
}

body {
	padding: 2em;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	color: goldenrod;
	font-variant: small-caps;
	// Headings are resized at a different rate to body text
	// I've aimed to roughly align with the width of the text
	@include fluid-type(font-size, 35rem, 74rem, 1.5rem, 4rem);
}

section {
	display: flex;
}

.col-images {
	display: none; // Don't display images on small screens
	flex-shrink: 1;
	img {
		width: 100%;
		padding-left: 1em;
	}
}

// Line lengths between 45 to 75 characters are usually considered ideal for reading.
// Let's enforce a line length of 45 characters as soon as we are sure it will fit.
// Below this width will be auto and allow text to reflow as required.

.col-text {
	// Setting the font-size to a fluid value will mean ch
	// is now a also fluid measure in this context
	@include fluid-type(font-size, 25rem, 64rem, 0.75rem, 1.2rem);
}

@media screen and (min-width: 50ch) {
	.col-text {
		width: 45ch;
		flex-shrink: 0; // Never shrink the text column
	}
}

// Our line length is 45 characters, so when the screen can fit more than 80 characters
// we have room to display an image alongside the text.

@media screen and (min-width: 85ch) {
	// Because flexbox, this will shrink to fit the space available
	.col-images {
		display: initial;
	}
}

// Above 145ch we can increase our line length to 70 characters
// this will be better for reading on large devices
@media screen and (min-width: 145ch) {
	.col-text {
		width: 70ch;
		flex-shrink: 0;
	}
}

// Because of the variable font-size the heading width roughly aligns
// with the width of the text colmn, regardless of whether the line
// length is 45 or 70.

// Achieving this kind of symmetry would be dificult without ch units.
// Give them a go.

// I noticed when using rem units for widths in my Fluid Typography
// showcase example (https://codepen.io/MadeByMike/pen/GmBLKo?editors=0100)
// there was a slight jitter and very ocasional reflow of text
// when resizing. Whilst this is ok, it doesn't occour with ch units.
